/* Sidebar container */
.sidebar {
    height: 100vh;
    width: 250px;
    background-color: #ffffff;
    color: #000;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.1);
}

/* Logo at the top */
.sidebar-logo {
    padding: 20px;
    text-align: center;
}

.sidebar-logo img {
    width: 80%;
    max-width: 150px;
    height: auto;
    object-fit: contain;
}

/* Menu list */
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    /* Ensures menu takes up available space */
}

/* Menu item */
.menu-item {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    cursor: pointer;
    transition: background 0.3s, padding-left 0.3s;
    border-radius: 10px;
    margin: 8px 15px;
    color: #000;
}

/* Active menu item */
.menu-item.active {
    background-color: #2ec4b6;
    color: #fff;
}

/* Prevent hover effect for active menu items */
.menu-item.active:hover {
    background-color: #2ec4b6;
}

/* Menu item hover */
.menu-item:hover {
    background-color: #e3f6f5;

}

/* Menu text */
.menu-text {
    font-size: 16px;
    margin-left: 12px;
}

.menu-item svg {
    font-size: 18px;
}

/* Logout and Settings item styling */
.logout-item {
    margin-top: auto;

}

.logout-item:hover {
    background-color: #ff4c4c;
    color: white;
}

.logout-item svg {
    font-size: 18px;
}

